body {
  background-color: rgb(78, 39, 39);
  text-align: center;

}

form {
  margin-left: 55%;
  display: flex;
  display: inline-block;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  display: block;
}

h2 {
  color: #ffffff;
  font-weight: bold;
  display: block;
}

canvas {
    background-color: black;    
    width: 700px;
    height: 500px;
    overflow: hidden;
    position: absolute;
  }
  
fieldset {
  background-color: #ffffff;
  border: solid 1px #000000;
  width:10em;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

footer {
  margin-top: 20%;

}